/*
Theme Name: Libretto-child
Theme URI: https://wordpress.com/themes/libretto/
Description: Libretto is a responsive one-column theme with classic styling and careful typographic details. It’s ideally suited to showcasing longform writing interspersed with beautiful images and inspiring quotes.
Version: 1.0.0
Template: Libretto
Author: Automattic
Author URI: http://wordpress.com/themes/
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: libretto
Tags: gray, red, silver, white, light, one-column, responsive-layout, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, featured-image-header, flexible-header, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready, photoblogging, light
*/
.entry-header .author-avatar img,
.title-block .author-avatar img{
    float: none;
    border: 1px solid #faf9f5;
    box-shadow: 0 0 0 4px #eae9e6;
    background-color: #eae9e6;
    filter: grayscale(80%);
}

.libretto-long-form .entry-header::before,
.post .entry-header:before,
.entry-footer:before,
.single .title-block:before,
.page .entry-header:before {
    display:none;
}

ul, ol {
    margin: 0 0 1.5em 2em;
}